apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml

images:
  - name: octopussamples/octopub-frontend
    newName: octopussamples/octopub-frontend
    newTag: "0.1.1"
