apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml

images:
  - name: octopussamples/octopub-products-microservice
    newName: octopussamples/octopub-products-microservice
    newTag: "0.1.0"
